<h2 class="text-xl font-semibold">
  Other Github Projects
</h2>
<p class="mb-4">
  Some of my smaller projects over the years.
</p>
<div class="mx-auto grid w-full grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 grid-flow-row gap-4">
  {% if site.github_projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.github_projects.exclude.archived && site.github_projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.github_projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.github_projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.github_projects.limit %}
    {% unless site.github_projects.exclude.projects contains repository.name %}
      <div>
        {% include card-repo.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
