<!-- Required param: project -->
{% assign p = include.project %}
<div class="{{p.id}} relative {% if p.secret %}secret{% endif %}"{% if p.secret %}hidden{% endif %} style="color: {{p.accent_color}};">
  <div class="card-img absolute rounded-md top-0 left-0 w-full h-full bg-cover bg-center z-10" style="background-image: url(assets/img/projects/{{p.id}}.png);"></div>
  <div class="w-full h-full bg-gradient-to-r from-white via-white dark:from-gray-900 dark:via-gray-900 to-transparent relative rounded-md border dark:border-color-gray-800  px-4 py-10 z-20"> 
    <h3 class="text-xl font-semibold mb-2 filter dark:brightness-[1.5]">
      {{p.name}}
    </h3>
    <div {% if p.accent_color_2 %} style="color: {{ p.accent_color_2 }}" {% endif %} class="py-1 filter dark:brightness-[1.5]">
      <p class="text-sm w-1/2 mb-2 px-1">{{p.short_desc}}</p>
      <a class="fill-current mx-3 font-semibold" href="/projects/{{p.id}}">
        {% octicon eye height:16 color:"{{p.accent_color}}" class:"{{ icon_classes }}" %} View
      </a>
    </div>
  </div>
</div>