{% assign p = include.project %}
<div class="flex flex-col h-full border rounded-md px-5 py-2">
  <h2 class="py-3 text-center text-xl " style="color:{{p.accent_color}}">{{p.name}}</h2>
  <p class="description">{{p.description}}</p>
  <div class="technologies flex-1">
  <h4 class="text-[{{ p.accent_color_2 || inherit }}] ">Built With...</h4>
  <div class="flex flex-col">
    {% for technology in p.technologies %}
      <li>{{technology}}</li>
    {% endfor %}
  </div>
  </div>
  <div style="color:{{p.accent_color}}" class="interface flex justify-between">
    <a href="{{ site.url }}{{ site.baseurl | append:'/' }}">
      {% octicon chevron-left height:16 class:"{{ icon_classes }}" aria-label:Home %}Menu
    </a>
    <a target="_blank" href="{{p.URL}}">Open New Tab {% octicon chevron-right height:16 class:"{{ icon_classes }} v-align-middle" aria-label:Open %}

    </a>
  </div>
</div>
