{% assign icon_classes = "v-align-middle fill-current text-gray-500 dark:text-white" %}

{% assign content = page.content %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = "FinnNav.in" %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="{{ "/assets/styles.css" | asset_url | asset_tag}}" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 dark:text-white">