{% assign metadata_styles = 'flex items-center mb-3' %}
<div id="profile-pic" class="justify-center align-center m-auto my-5 max-w-[20vw] xl:max-w-xs cursor-pointer">
  {% include profile.svg %}
</div>
{% include name.html color=include.project.accent_color_2 run_animation=include.run_animation%}

{% if include.metadata %}
  <div class="flex justify-center text-lg mt-2">
    {% if user.location %}
      <div class="{{ metadata_styles }}">
        {% octicon location height:20 class:"{{ icon_classes }}" aria-label:Location %}
        {{ user.location }}
      </div>
    {% endif %}
    {% if site.social_media %}
      <div class="flex flex-wrap items-center justify-around gap-5">
        {% for account in site.social_media %}
          <div>
            {% assign service_shortname = account[0] %}
            {% assign service = site.data.social_media[service_shortname] %}
            <a class="tooltipped tooltipped-se group fill-current text-gray-500 dark:text-white" href="{{ service.profile_url_prefix }}{{ account[1] }}"  aria-label="{{ service.name }}: {{ account[1] }}">
              {{ service.icon_svg }}
              <div class="absolute transition-opacity opacity-0 group-hover:opacity-100 pointer-events-none delay-150">
                <span class="absolute truncate z-50 text-sm rounded-md py-1 px-2 bg-gray-600 text-white dark:bg-gray-200 dark:text-black">
                  {{ service.name }}:
                  <span class="font-semibold">{{ account[1] }}</span>
                </span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}