{% assign classes = "my-name text-6xl font-bold transition-transform duration-200 ease-in-out transform-gpu hover:scale-[1.025] text-center select-none" %}
{% if page.layout == "project" %}
  <h1 style="color: {{page.accent_color_2 || inherit}}" class="filter dark:brightness-[1.8] {{classes}}">
    <span class="finn">finn</span> <span class="navin">navin</span>
  </h1>
{% else %}
<h1 class="text-purple-900 dark:text-purple-400 {{ classes }}">
  <span class="finn">finn</span><span class="space "> </span><span class="navin whitespace-pre">nav<span class="name-dot inline-block">.</span>in</span>
</h1>
{% endif %}