{% if include.run_animation %}
  <h1 style="color: {{include.color || inherit}}" class="my-name hover-grow text-center">
    <span class="finn">Finn</span><span class="space"> </span><span class="navin">Nav<span class="name-dot d-inline-block"><span class="anim-fade-down d-inline-block">.</span></span><span class="in">in</span></span>
  </h1>
{% else %}
  <h1 style="color: {{include.color || inherit}}" class="my-name hover-grow text-center">
    <span class="finn">Finn</span> <span class="navin">Navin</span>
    <!-- <span class="finn">Finn</span><span class=""> </span><span class="nav">Nav</span><span class="in">in</span> -->
  </h1>
{% endif %}