@import "./highlight_syntax";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .octicon{
    @apply inline-block align-text-bottom;
  }
  .card-button-colors, .flickity-button{
    @apply transition-colors fill-current duration-300 text-gray-900 dark:text-white bg-gray-100 dark:bg-gray-900 hover:bg-gray-200 dark:hover:bg-gray-700 border-gray-300 ;
  }

}
/* @apply wasn't working, so I resorted to CSS to replace these properties */
.flickity-viewport {
  /* Fixes corner-clipping */
  border-radius: .375rem;
}
.flickity-prev-next-button {
  border-style: solid;
  border-width: 0px;
  top: 0;
  transform: unset;
}
.flickity-prev-next-button.previous{
  left: 0;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-radius: 0;
  border-top-left-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.flickity-prev-next-button.next{
  right: 0;
  border-radius: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-right-radius: .375rem;
  border-bottom-left-radius: .375rem;
}
.carousel-cell::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.carousel-cell::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
.carousel-cell::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #666666;
}
/* Can be changed to tailwind later if appropriate */
.my-name{
  font-family: Oxygen, sans-serif;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  word-wrap: break-word;
}
.space{
  animation: dot-shrink .5s ease-in-out 1s reverse;
  animation-fill-mode: forwards;
  font-size: 0em;
}

.name-dot{
  animation: dot-shrink .5s ease-in-out 1s;
  animation-fill-mode: forwards;
}
.name-dot span{
  animation-delay: .5s;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes dot-shrink{
  0%{
    width: inherit;
    opacity: 1;
    font-size: 1em;
  }
  100%{
    opacity: 0;
    font-size: 0em;
  }
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}