{% include header.html %}

{% capture post_body %}
  <div class="article max-w-5xl">
    {{ content }}
  </div>
{% endcapture %}

<div class="flex flex-col sm:flex-row w-full">
  {% include sidebar.html %}
  <div id='content' class="3xl:mx-16 mx-auto 3xl:max-w-none max-w-5xl flex-auto"">
    <div class="px-5 py-10">
        <div class="sm:w-2/3">
          <h1 class="text-3xl font-semibold mb-4">{{ page.title }}</h1>
          <div class="text-gray-600 text-sm mb-4">
            <span class="mr-2">{{ page.date | date: "%B %-d, %Y" }}</span>
            {% if page.tags %}
              <span class="mr-2">•</span>
              <span class="mr-2">
                {% for tag in page.tags %}
                  <a href="{{ site.url }}{{ site.baseurl | append:'/' }}tags#{{ tag | slugify }}" class="text-gray-600 hover:text-gray-800">{{ tag }}</a>
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}
              </span>
            {% endif %}
          </div>
          {{ post_body }}
        </div>
      </div>

{% include footer.html %}
